# Default ignored files
/workspace.xml
/$PRODUCT_WORKSPACE_FILE$
/.gitignore
/compiler.xml
/gradle.xml
/misc.xml
/saveactions_settings.xml
/uiDesigner.xml
/vcs.xml
/inspectionProfiles/Project_Default.xml
